body{
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: linear-gradient(rgba(71, 77, 80, 0.2), rgba(61, 66, 68, 0.2)), url('https://images.pexels.com/photos/2356045/pexels-photo-2356045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  }